*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
}

body{
    background-color: #efefef;
    color: #2f2f2f;
    line-height: 1.4;
    font-family: "Open Sans", Helvetica, sans-serif ;
}

p{
    font-size: 1.2rem;
    margin: 1.5em 0;
}

h1{
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.3em;
    max-width: 500px;
    font-weight: 700;
    margin: auto;
}

h2{
    font-size: 1.3rem;
}

h3{
    font-size: 1.1rem;
    font-weight: 700;
}

h1,h3{
    margin-bottom: 0.8em;
}

a{
    color: rgb(63, 132, 223);
}

.img{
    max-width: 500px;
    margin: auto;
    img{
        max-width: 100%;
        margin:0 auto 0.8rem;
    }
}

.banner{
    width: 100%;
    img{
        width: 100%;
    }
}


.date{
    font-weight: 300;
}

.green{
    font-weight: 700;
    color: rgb(14, 169, 54);
}

section{
    background-color: white;
    box-shadow: 0 0.5rem 0.5rem rgb(201, 201, 201);
    width: min(100%, 960px);
    margin: auto;
}

.container{
    margin: auto;
    padding: 1.4rem 1rem 0.4rem;
    .text{
        max-width: 850px;
        margin: auto;
    }
}

.btn{
    text-align: center;
    button{
        background-color: #2fa1f4;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.9em;
        margin: 1em 0;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        outline: none;
        &:hover{
            background-color: #0e4d7a;
        }
    }
}


footer{
    .container-footer{
        text-align: center;
        width: min(90%, 600px );
        margin: auto;
        padding: 2rem 0;
        p{
            font-size: 0.8rem;
            color: #6b6b6b;
        }
    }
}

@media (min-width : 800px){
    html{
        font-size: 16px;
    }
    
    h1{
        font-size: 2.5rem;
        max-width: 900px;
    }

    .container{
        padding:1.4rem 2rem 0;
    }
}